on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: "${{ steps.release-please.outputs.release_created }}"
      release_tag: "${{ steps.release-please.outputs.tag_name }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          # https://github.com/actions/checkout/issues/1467
          fetch-depth: 0
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          config-file: .release-please.json
          manifest-file: .release-please-manifest.json

  release-docker-image:
    needs:
      - release-please
    if: needs.release-please.outputs.release_created
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    uses: ./.github/workflows/build.yml
    with:
      tag: ${{ needs.release-please.outputs.release_tag }}

